{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Transparent</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Investments" name="description" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body style="background-color: cornsilk;">
        
        <div class="account-pages my-5 pt-sm-5">
            <div class="container" >
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Free Register</h5>
                                            <p>Get your free account now.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="index-2.html">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                  <form action="{% url 'register' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Refferer Username</label>
                                        <input
                                        type="text"
                                        name="ref_username"
                                        placeholder="username"
                                        id="r_username"
                                        value="{{ref}}"
                                        class="form-control form-control-sm"
                                      />
                                    </div>
                                    {% include 'partials/_messages.html' %}
                                    <div class="form-group mb-3">
                                      <label for="userpassword" class="form-label">username</label>
                                      <input
                                        type="text"
                                        name="username"
                                        placeholder="username"
                                        id="usernameField"
                                        value="{{fieldValues.username}}"
                                        class="form-control form-control-sm"
                                      />
                                    </div>
                                    <div class="invalid_feedback invalid-feedback" style="display:none">
                                    </div>
                                    <div class="usernameFeedBack text-success" style="display:none">
                                    </div>
                                    <p class="text-sm text-success usernameSuccessOutput"></p>
                                    <div class="form-group mb-3">
                                        <label for="userpassword" class="form-label">phone</label>
                                        <input
                                          type="text"
                                          name="phone"
                                          placeholder="phone"
                                          id="phoneField"
                                          value="{{fieldValues.phone}}"
                                          class="form-control form-control-sm"
                                        />
                                      </div>
                                    <div class="form-group mb-3">
                                      <label for="userpassword" class="form-label">Email</label>
                                      <input
                                        type="email"
                                        name="email"
                                        placeholder="Email"
                                        class="form-control form-control-sm"
                                        id="emailField"
                          
                                        value="{{fieldValues.email}}"
                                      />
                                    </div>
                          
                                    <div class="emailFeedBackArea invalid-feedback" style="display:none">
                                    </div>
                                    <div class="emailFeedBack text-success" style="display:none">
                                    </div>
                                        <div class="form-group mb-3">
                                            <label for="userpassword" class="form-label">Password</label>
                                            <input
                                            type="password"
                                            name="password"
                                            placeholder="Password"
                                            class="form-control form-control-sm"
                                            id="passwordField"
                                          />
                                          <small class="float-right py-3 showPasswordToggle">SHOW</small>
                                        </div>
                                            <div class="invalid-feedback">
                                                Please Enter Password
                                            </div>       
                                        </div>
                    
                                        <div class="mt-4 d-grid">
                                            <input type="submit" value="Register"  
                                             class="btn btn-primary waves-effect waves-light submit-btn" />
                                             
                                        </div>

                                        <div class="mt-4 text-center">
                                            <h5 class="font-size-14 mb-3">Sign up using</h5>
            
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                                                        <i class="mdi mdi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                                                        <i class="mdi mdi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                                                        <i class="mdi mdi-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                
                                        <div class="mt-4 text-center">
                                            <p class="mb-0">By registering you agree to our <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            
                            <div>
                                <p>Already have an account ? <a href="{% url 'login' %}" 
                                    class="fw-medium text-primary"> Login</a> </p>
                                <p>© <script>document.write(new Date().getFullYear())</script> 
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

      
        <script src="{% static 'js/register.js' %}"></script>

    </body>
</html>
{% endblock content %}