{% load static %}
        <!-- JAVASCRIPT -->
        

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Transparent.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Transparent_club
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

        <script src="{% static '/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static '/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static '/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static '/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static '/libs/node-waves/waves.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static '/libs/apexcharts/apexcharts.min.js' %}"></script>

     
        <script src="{% static '/js/pages/dashboard.init.js' %}"></script>
        -->
        <!-- Ap
        <script src="{% static 'js/app.js' %}"></script>
        -->
    </body>

</html>